node_modules
Dockerfile*
docker-compose*
.dockerignore
.github
.git
.gitignore
README.md
LICENSE
.vscode
Makefile
helm-charts
.env
.editorconfig
.idea
coverage*
.turbo
apps/*/node_modules
packages/*/node_modules
apps/*/dist
packages/*/dist
infra/docker/.env
*.log
