# dependencies (bun install)
node_modules

# turborepo
.turbo

# output
out
dist
*.tgz

# code coverage
coverage
*.lcov

# logs
logs
_.log
report.[0-9]_.[0-9]_.[0-9]_.[0-9]_.json

# dotenv environment variable files
.env
.env.test
.env.development
.env.production
.env.local

# caches
.eslintcache
.cache
*.tsbuildinfo

# editor directories and files
.idea
.vscode/*
!.vscode/extensions.json

# Finder (MacOS) folder config
.DS_Store
